{% block content %}
    {{ _self }} (@meili)
    {% set shortClass = results.indexUid|split('\\')|last %}

    <div {{ attributes.defaults({
        class: 'ux-search-hits'
    }) }}>
        {% if results.hits|length > 0 %}
            <div class="ux-search-hits__list">
                {% for hit in results.hits %}
                    {% block hit %}
                        {{ include(shortClass ~ '/Hit.html.twig', {hit: hit}) }}

{#                        <div class="ux-search-hits__item xxcol-md-3" style="max-width: 100%; overflow: auto;">#}
{#                            <pre style="font-family: monospace">{{ hit.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>#}
{#                        </div>#}
                    {% endblock %}
                {% endfor %}
            </div>
        {% else %}
            {% block noResult %}
                <div class="ux-search-hits__no-result">{{ 'no_result'|trans(domain='mezcalito_ux_search') }}</div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
